body {
	margin: 0;
	padding: 0;
	color: #333;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	overflow-y:scroll;
	background-color: #EAE2D7;
}

/* All margins are removed from h1 and h2 tags, except for the bottom margin, which is set to 10px.
 * The main font-family is reset to Verdana
 */

h1, h2 {
    margin: 0 0 10px 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
}

h2 {
    font-size: 140%;
}


p {
    margin: 0 auto 1em 0;
    padding: 0 20px;
    font-size: 85%;
    line-height: 1.4;
}


#header {
    position: absolute;
    top: -100px;
}


#wrapper {
	padding:90px 0 45px;
	background: #fff url(../images/bg.jpg);
	width:900px;
	margin:0 auto;
	position:relative;
	border-left: 1px solid #A4C8D8;
	border-right: 1px solid #A4C8D8;
	min-height:490px;
}

/* The navigation menu is contained in an absolutely positioned div 140px from the top of the page and 60px from the left margin. */

#nav {
    position: absolute;
    top: 140px;
    left: 60px;
    width: 90px;
}

/* Styles for the navigation menu. */

ul#nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav a {
    display: block;
    width: 100px;
    padding-left: 10px;
    margin: 3px 0;
    text-decoration: none;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
}

#nav a:link, #nav a:visited {
    border-left: #00425E solid 10px;
    color: green;
}

#nav a:hover, #nav a:active {
    border-left-color: #fff;
    background-color: green;
    color: #fff;
}

/* The here ID identifies the current page and applies a white stripe to the left as a visual indicator. */

a#here {
    border-left-color: #fff !important;
    background-color: transparent !important;
    color: green !important;
}



#maincontent {
    margin: 0 10% 0 190px;
    min-width: 525px;
    max-width: 640px;
}

/* Styles for links in the maincontent div. */

#maincontent a {
    font-weight: bold;
    text-decoration: none;
    padding: 2px 4px;
}

#maincontent a:link, #maincontent a:visited {
    color: green;
    border-bottom: green dashed 1px;
}

#maincontent a:hover, #maincontent a:active {
    color: #fff;
    background-color: green;
    border-bottom: none;
}

/* The pictureWrapper div is for the random image on the front page. It floats to the right with a 20px right margin and a 10px left one. */

#pictureWrapper {
    float: right;
    margin: 0 20px 0 10px;
}

/* Border and background color for the random image. */

.picBorder {
    background-color: #fff;
    padding: 10px;
    border: green solid 2px;
}



p#caption {
    margin: 0;
    padding: 3px 10px;
    font-weight: bold;
    text-align: center;
}



#footer {
	clear: both;
	background-color: limegreen;
	color: #FFF;
	padding:12px;
	width:876px;
	position:absolute;
	bottom:0;
}

#footer p {
	margin-bottom:0;
	font-size: 90%;
	font-weight:bold;
}



form {
    margin: 0 0 0 20px;
}

form h2 {
    color: #036;
    font-size: 80%;
    font-weight: bold;
    margin: 0 0 5px 10px;
}

form p {
    margin: 0 0 5px 0;
}

.formbox {
    width: 250px;
}

fieldset {
    border: none;
}



label {
    font-weight: bold;
    color: green;
    display: block;
}



#subscribe label, #interests label {
    display: inline;
    padding: 0 20px 0 3px;
}

#interests div {
    float: left;
}

/*Error messages */

.warning {
    font-weight: bold;
    color: #f00;
}

/* Styles for the image gallery. */

#gallery {
    width: 525px;
}

#picCount {
  color:green;
  font-weight:bold;
  }

#thumbs {
    float: left;
    margin-top: 10px;
}

#thumbs td {
    text-align: center;
}

#thumbs img {
    border: none;
	display:block;
}

#thumbs a:link, #thumbs a:visited, #thumbs a:hover, #thumbs a:active {
    border: none;
    padding: 0;
}

#main_image {
    float: right;
    text-align: center;
    width: 350px;
}

#main_image p {
   color: green;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#recaptcha_widget_div {
	padding-left:20px;
}