
html, body
{
    height: 100%;
}

body
{
    margin: 0px;
    padding: 0px;
    /* background: #*/

    color: white;
    background-color: orangered;

line-height: 1.75em;
    font-family: FontAwesome;
    font-size: 12pt;
    font-weight: 300;
    /*color: #000000;*/
}

h1, h2, h3
{
    margin: 0;
    padding: 0;
}

a
{
    color: #383326;
}

a:hover
{
    text-decoration: none;
}

.container
{
    overflow: hidden;
    margin: 0em auto;
    width: 1000px;
}

/* Image Style                     */

.image
{
    display: inline-block;
}

.image img
{
    display: block;
    width: 100%;
}

.image-full
{
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image-left
{
    float: left;
    margin: 0 2em 2em 0;
}

.image-centered
{
    display: block;
    margin: 0 0 2em 0;
}

.image-centered img
{
    margin: 0 auto;
    width: auto;
}

/* List Styles                                                                   */

ul.style1
{
}


/* Title Styles                                                                   */

.title
{
    padding: 0em 0em;
    margin-bottom: 3em;
}

.title h2
{
    margin-bottom: 1em;

    font-weight: 700;
    font-size: 1.5em;
    color: white;
}

.title h3
{
    margin-bottom: 1em;

    font-weight: 700;
    font-size: 1.5em;
    color:  #000000;
}

/* Button Style                                                                  */

.button
{
    display: inline-block;
    padding: 1em 3em 1em 2em;
    background: limegreen;
    letter-spacing: 0.20em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.7em;
    color: white;
}



/* 4-column                                                                      */

.box1,
.box2,
.box3,
.box4
{
    width: 235px;
}

.box1,
.box2,
.box3,
{
    float: left;
    margin-right: 20px;
}

.box4
{
    float: right;
}

/* 3-column                                                                      */

.boxA,
.boxB,
.boxC
{
    width: 320px;
}

.boxA,
.boxB
{
    float: left;
    margin-right: 20px;
}

.boxC
{
    float: right;
}


/* 2-column                                                                      */


.tbox1,
.tbox2
{
    width: 575px;
}

.tbox1
{
    float: left;
}

.tbox2
{
    float: right;
}

#wrapper
{
}


/* Header                                                                        */


#header
{
    position: relative;
    padding: 1.5em 0em;
}


/* Logo                                                                          */


#logo
{
    position: absolute;
    top: 1em;
    left: 0;
    font-family: FontAwesome;
    font-size: 9pt;
}

#logo h1
{
}

#logo a
{
    text-decoration: none;
    color: rgba(251, 248, 255, 0.90);
}

/* Banner                                                                        */


#banner
{
}


/* Page                                                                          */


#page
{
    overflow: hidden;
    padding: 5em 0em;
    background: url(images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-weight: 500;
    font-size: 1.5em;
    color: #fcfaff;


}


