@charset "UTF-8";

@font-face
{

    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot?v=3.0.1');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-social-webfont.eot');
	font-weight: normal;
	font-style: normal;
}


